.card_item {
  padding: 12px 16px;
  background-color: #fafafa;
  border: 0.5px solid #e0e0e0;
  border-radius: 6px;

  justify-content: space-between;
  align-items: center;
}

.ci_content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.ci_value {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

  color: #303030;
}

.ci_meta_text {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;

  color: #686868;
}

.ci_action div {
  font-size: 24px;
  color: #686868;
  cursor: pointer;
}
